<div
  class="prayer-card"
  [class.active]="prayer().isActive"
  [class.passed]="prayer().isPassed"
  [class.calculated]="prayer().isCalculated"
  [class.current]="prayer().isCurrent"
  [class.next]="prayer().isNext"
  [class.has-tooltip]="!!prayer().tooltip"
  [style.--progress]="prayer().progress"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  (click)="toggleTooltip()"
>
  <div class="card-top">
    <span class="prayer-name">
      {{ prayer().name }}
      @if (prayer().tooltip) {
        <svg class="info-icon" viewBox="0 0 20 20" fill="currentColor" width="14" height="14">
          <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd"/>
        </svg>
      }
    </span>
    <span class="prayer-time">{{ prayer().time }}</span>
  </div>

  <span class="prayer-relative">{{ prayer().relativeText }}</span>

  @if (showTooltip() && prayer().tooltip) {
    <div class="tooltip-overlay">
      <div class="tooltip-content">{{ prayer().tooltip }}</div>
    </div>
  }
</div>
